body{
    font-family: 'Inter';
    margin: 0px;
}
.logo{
    color: black;
    font-weight: 900;
    font-size: 25.3531px;
    line-height: 40px;
}
header{
    display: flex;
    align-items: center;
    padding: 20px;
    background: #FFF7ED;
}
a{
    padding: 10px;
    text-decoration: none;
    color: #4D4D4D;
    font-weight: 600;
    cursor: pointer;
}
nav a:hover{
    text-decoration: underline;
}
nav{
    margin-left: auto;
}
.active-nav{
    text-decoration-line: underline;
    color: #161616;
    font-weight: "bold"
}

/* Home */

.home{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)), url("./images/home.png")  center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Inter';
    color: #FFFFFF;
    padding: 15% 7%;
    justify-content: center;
    align-content: center;
}

h1{
font-weight: 800;
font-size: 36px;
}

h2{
    font-weight: 700;
font-size: 32px;
line-height: 38px;
}
h3{
font-weight: 700;
font-size: 24px;
line-height: 30px;
}
h4{
    font-weight: 600;
    font-size: 20px;
    line-height: 10px;
    color: #161616;
}

 p {
    font-weight: 500;
font-size: 16px;
line-height: 24px;
margin: 2rem 0 4rem 0;
}
.orange-btn{
    color: #ffffff;
    text-decoration: none;
    background: #FF8C38;
    border-radius: 5px;
    padding-block: 13px;
    width: 100%;
    display: inline-block;
    text-align: center;
    font-weight: 700;
}
.btn{
    color: #FFFFFF;
    padding: 10px;
    background: #161616;
border-radius: 10px;
}

/* About */
.about{
    padding: 7% 7%;
    background: #FFF7ED;
}

.about-image{
    width: 100%;
}

.about-card{
padding: 2rem 3rem;
background: #FFCC8D;
border-radius: 5px;
}

.about-card h3{
    margin-bottom: 50px;
}

.vans{
    background: #FFF7ED;
    padding: 7% 7%;
}
.container-vans{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
}

.van-text{
    font-family: 'Avenir Next';
font-style: normal;
font-weight: 500;
font-size: 14px;
}

.van img{
    margin-left: -10px;
    padding: 0px;
    width: 100%;
}
.i-btn{
    padding: 8px 15px;
    width: 70px;
    color: #FFEAD0;
    font-weight: 600;
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
}

.simple{
    background: #E17654;
}

.rugged{
    background: #115E59;
}
.luxury{
    background: #161616;
}

@media screen and (max-width:410px) {
    h4{
        font-size: 15px;
    }
    .i-btn{
        padding: 5px 10px;
        color: #FFEAD0;
        font-weight: 600;
        font-size: .8rem;
        border-radius: 5px;
        text-align: center;
    }
} 

/* Van Detail */

.van-detail{
    padding: 7% 7%;
    background: #FFF7ED;
}

.van-detail img{
    width: 100%;
    margin-bottom: 4rem;
}

/* Footer  */

footer{
    background: #252525;
    color: #AAAAAA;
    text-align: center;
    padding: 50px;
}

/* Host */

.host-nav{
    padding: 20px;
    background-color: #FFF7ED;
    font-size: 18px;
}

/* Host Van */
.host-vans{
    padding: 2rem;
    background-color: #FFF7ED;
}

.host-van{
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    margin-bottom: 20px;
}

.host-van img {
    padding: 20px;
    height: 60px;
}

.host-van-name{
    display: block;
    height: 100px;
}
.host-van-name p {
    position: relative;
    color: #4D4D4D;
    bottom: 20px;
}

/* Host Van Detail */

.host-van-detail{
    display: flex;
    background: #FFFFFF;
    border-radius: 6px;
}
.host-van-detail img {
    width: 200px;    
    align-items: center;
    padding: 20px;
}
.host-van-detail-info {
    display: flex;
    flex-direction: column;
}
.host-van-detail-info h2{
    margin: 20px 0px;
}
.host-van-detail-info h4{
    margin:  0px;
}
.host-van-container{
    padding: 20px;
    background: #FFF7ED;
}
.host-back{
text-decoration-line: underline;
}
.host-van-container div{
    margin-top: 50px;
}
.host-van-detail-outlet{
    background-color: #FFFFFF;
}
/* Host Van Info */
.host-van-info-page p{
    font-style: normal;
    font-size: 14.3548px;
    line-height: 21px;
    margin: 15px 0px;
}
.host-van-info-page span {
    font-weight: 700;
    color: #161616;
}

section{
    padding: 20px ;
    margin: 5px 15px;
}

.host-van-detail-outlet nav{
    padding: 20px;
}